* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

:root {
	--primary-color: #4891ff;
	--gray-color: #7a7e88;
	--primary-background: #33353e;
	--navbar-background: #42444e;
}

html {
    scroll-behavior: smooth;
}

body{
	font-family:'Poppins', sans-serif;
	font-size:16px;
	line-height:1.5;
	background: var(--primary-background);
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color:#fff
}

ul{
	list-style:none;
}
img{
	
	max-width:100%;
}

	/* NavBar */
.navbar {
	background: var(--navbar-background);
	padding: 10px;
	position: fixed;
	top: 0; /* Initially hide the navbar above the viewport */
	left: 0;
	right: 0;
	transition: top 0.5s; /* Smooth transition for sliding effect */
	z-index: 1000;
}
.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar .main-menu ul {
	display: flex;
}
.navbar ul li a {
	padding: 10px 20px;
	display: block;
	font-weight: 600;
	transition: 0.5s;
}
.navbar ul li a:hover {
	color: var(--primary-color);
}

.navbar ul li a i {
	margin-right: 10px;
}

.navbar ul li:last-child a {
	margin-left:10px;
}
.navbar.show {
    top: 0; /* Show the navbar */
}
.navbar.hide{
	top:-100px;
}
.language-switcher select{
	padding: 10px;
	display: flex;
	margin-left: 10px;
	font-size: 18px;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	transition: 0.5s;
    background: var(--navbar-background);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
	/*HERO*/
.hero {
	margin-bottom: 50px;
	padding-top: 80px;
}

.container-hero{
	max-width: 1100px;
	margin:0 auto;
	padding: 0 15px;
	background: url('images/hero-bg-aboutus.png') no-repeat;
	background-size: contain;
	background-position: center bottom;
	height: 620px;
    opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
    transition: all 1s;
	transition-delay: 200ms;
}
.container-hero.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
  }

.hero .hero-content {
	width: 70%;
}
.hero-heading,
.hero-buttons {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
  }
.hero .hero-text {
	width: 80%;
	margin-bottom: 20px;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
}
.container-hero.show .hero-heading {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition-delay: 400ms;
} 
.container-hero.show .hero-text {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition-delay: 600ms;
}
.container-hero.show .hero-buttons {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition-delay: 800ms;
}
.hero h1 {
	color: #fff;
}
.hero p{
	color: #fff;
}
	/*DESCRIPTION*/
.description {
	padding: 10px 0 40px;
}
.description-heading{
	color: #fff;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
}
.dsc-text{
    color:#fff;
    width: 70%;
    padding: 20px;
    text-align: center;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
	transition-delay: 800ms;
}

.dsc-content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.description-preview{
	margin-bottom: 20px;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
	transition-delay: 400ms;
}
	/*FEATURES*/
.features {
	color: #fff;
	padding: 40px 0;
}
.features-heading {
	width: 700px;
	margin-bottom: 40px;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
}
.features-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
    width: 100%;
    text-align: center;
}
.features .card:nth-child(1){
	transition-delay: 400ms;
}
.features .card:nth-child(2){
	transition-delay: 600ms;
}
.features .card:nth-child(3){
	transition-delay: 800ms;
}
.features .card:nth-child(4){
	transition-delay: 1000ms;
}
/*GET IN TOUCH*/
.git {
    padding: 40px 0 40px;
}
.git-heading{
    color:#fff;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
}
.git-text{
    color:#fff;
    width: 70%;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
	transition-delay: 400ms;
}   
.git-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
	 /* Footer */
.footer{
	padding: 20px 0;
}
.footer p {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
.footer h4{
	margin-bottom: 10px;

}
.footer ul li {
	line-height: 2.5;
}
.footer i{
	margin-right: 10px;
}
.footer-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	gap: 30px;
	justify-content: center;
	align-items: center;
}
.footer a {
	color: #ccc;
}
.footer a:hover{
	color: var(--primary-color);
	transition: 0.5s;
}
.footer-grid .logo a {
	color:#fff;
    padding: 0px 2px;
    display: flex;
    align-items: center; /* Center text vertically */
    font-weight: 600;
    transition: color 0.5s;
    font-size: 16px;
    text-decoration: none; /* Remove underline */
}
.footer-grid .logo a:hover {
	color: var(--primary-color);
	transition: 0.5s;
}
.footer-grid .logo {
	display: flex;
	align-items: center;
}
.footer-grid .btn {
	background-color: var(--gray-color); /* Define primary color */
	color: #fff;
	padding: 6px 12px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s;
}
.footer .card {
	margin: 20px 30px 30px 0;
}
.footer input[type='email'] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 20px 0;
}
	/*Utility Classes*/
.container {
	max-width: 1100px;
	margin:0 auto;
	padding: 0 15px;
	
}
.container-sm {
	max-width: 800px;
	margin:0 auto;
	padding: 0 15px;
	
}
	/*Buttons*/
.btn{
	display: inline-block;
	padding: 13px 20px;
	background: var(--gray-color);
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.btn:hover {
	opacity: 0.8;
	color: var(--primary-color);
	transition: 0.5s;
}

.btn-primary {
	background: var(--gray-color);
	color: #fff
}

.btn-dark {
	background: var(--background-color);
}

.btn-block {
	display: block;
	width: 100%;
}
	/*TEXT*/
.text-xxl {
	font-size: 3rem;
	line-height: 1.2;
	font-weight: 600;
	margin: 40px 0 20px;
}
.text-xl {
	font-size: 2.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 40px 0 20px;
}

.text-lg {
	font-size: 1.8rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 30px 0 20px;
}

.text-md {
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 20px 0 10px;
}

.text-sm {
	font-size: 0.9rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 10px 0 5px;
}

.text-center {
	text-align: center;
}

	/*BACKGROUND*/
.bg-primary {
	background: var(--primary-background);
	color:#fff;
}
.bg-light {
	background: var(--navbar-background);
	color:#fff;
}
.bg-dark {
	background: var(--primary-background);
	color:#fff;
}

 /*CARD*/
.card {
	background: var(--navbar-background);
	max-width: 700px;
	border-radius: 10px;
	padding: 20px;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
    transition: all 1s;
}
.card1{
	background: var(--navbar-background);
	max-width: 700px;
	border-radius: 10px;
	padding: 20px;
}
.show{
	opacity: 1;
	filter:blur(0);
	transform: translateX(0);
}
/* Hamburger Button */
.hamburger-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
	z-index: 1000;
}

.hamburger-button .hamburger-line {
	width: 30px;
	height: 3px;
	background: #fff;
	margin: 6px 0;

}
.mobile-menu {
	position: fixed;
	top: 0;
	right: -300px;
	width: 250px;
	height: 100%;
	z-index: 100;
	background: var(--navbar-background);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	transition: right 0.3s ease-in-out;
	
}
.mobile-menu.active {
	right: 0;
}
.mobile-menu ul {
	margin-top: 100px;
	padding-right: 10px;

}
.mobile-menu ul li{
	margin: 10px 0;
	display: flex;
	align-items: center;
	
}
.mobile-menu ul li a {
	font-size: 20px;
	transition: 0.3s;
}
/*Media Queries */
@media (max-width: 960px) {
	.text-xxl {
		font-size: 2.5rem;
	}
}
@media (max-width: 670px) {
	.navbar .main-menu {
		display: none;
	}
	.navbar .hamburger-button {
		display: block;
	}
	.navbar .language-switcher select {
        padding: 8px; /* Increase padding for a larger clickable area */
        font-size: 18px; /* Larger font size for better readability */
        width: 160px; /* Increase width for more space */
        height: 45px; /* Increase height for better touch accessibility */
        background-color: var(--navbar-background); /* Ensure it matches the navbar */
        color: #fff;
        border: none;
        border-radius: 8px; /* Slightly round the corners for a better look */
        cursor: pointer;
    }

    .navbar .language-switcher select:focus {
        outline: none; /* Remove the default outline */
        box-shadow: 0 0 5px var(--primary-color); /* Add a subtle shadow on focus */
    }
	.container-hero {
		background: url('images/hero-bg-aboutus-mobile.png') no-repeat;
		background-size: 380px 290px;
		background-position: bottom;
		height: 570px;
	}
	.hero .hero-content {
		width: 100%;
		text-align: center;
	}
	.hero .hero-buttons .btn{
		margin-bottom: 10px;
		display: block;
		width: 100%;
	}
	.hero .hero-text {
		width: 100%;
		text-align: center;
	}
	.featues .features-heading {
		max-width: 100%;
		text-align: center;
	}
	.features .features-grid, .footer-grid {
		grid-template-columns: 1fr;
	}
	.footer .card {
		margin: 0;
	}
	.footer .footer-grid > div {
		text-align: center;
	}
	.footer .footer-grid > div h4 {
		margin: 0; /* Removes default margin to ensure proper alignment */
		/* Additional styling if needed */
	}
	.footer .footer-grid .btn {
        display:flex; /* Ensure button size adjusts properly */
        justify-content: center; /* Center text inside button */
        margin-top: 10px; /* Add margin if needed for spacing */
    }
	/*Text*/
	.text-xl{
		font-size: 1.9rem;
	}
	.text-lg {
		font-size: 1.5rem;
	}
	.text-md {
		font-size: 1.1rem;
	}
}
@media (max-width: 500px) {
	.text-xxl {
		font-size: 2rem;
	}
}
